@import "../../utils/styles/constants.scss";

.write-post-icon {
  height: 20%;
  width: 55vw;
  position: relative;
  top: 2em;
  left: 20vw;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  .home-icon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    .icon-user {
      grid-area: 1 / 1 / 2 / 2;
      width: 4em;
      height: 3em;

      svg {
        width: 100%;
        height: 100%;
      }
    }
    .input-icon {
      grid-area: 1 / 1 / 2 / 4;
      width: 98%;
      height: 8rem;
      display: flex;
      position: fixed;
      left: 50px;
      padding: 6px;

      .input-text-post {
        width: 88%;
        height: 35%;
        border: 1px solid gray;
        border-radius: 25px;
        padding: 5px;
      }
    }
    .question-icon {
      grid-area: 2 / 1 / 3 / 2;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 5px 15px;

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
    .reply-icon {
      grid-area: 2 / 2 / 3 / 3;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 5px 15px;

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
    .post-icon {
      grid-area: 2 / 3 / 3 / 4;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 5px 15px;

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
  .post-container {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 0.5rem;

    .icon-user {
      grid-area: 1 / 1 / 2 / 2;
      height: 3rem;

      svg {
        width: 100%;
        height: 100%;
      }
    }
    .post-user {
      grid-area: 1 / 2 / 2 / 3;
      padding: 0.5rem 0.3rem;
    }
    .post-content {
      grid-area: 2 / 1 / 3 / 3;
      padding: 0.5rem 0.3rem;

      .categories-post{
        text-transform: uppercase;
      }

      .title-post{
        font-weight: bold;
        text-transform: capitalize;
      }
    }
  }
}

//MOBILE
@media (max-width: $break-mobileLarge) {
  .write-post-icon {
    width: auto;
    top: 0;
    left: 0;
    border-radius: 0;
  }
}
