@import "../../utils/styles/constants.scss";

.navigation {
  width: 100vw;
  margin: 0.5rem;

  .menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95vw;
    font-family: $Manrope-family;

    .modal-container {
      width: auto;
      height: auto;
      padding: 0.75rem;
      border: 1.5px solid rgba(189, 189, 189, 0.681);
      border-radius: 16px;
      position: absolute;
      display: flex;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
      background-color: white;
      z-index: 1;
    }

    .signIn {
      div {
        padding-bottom: 0;
      }

      height: auto;
      width: auto;
      top: 4.5rem;
      right: 1rem;
      flex-flow: column;
      justify-content: center;
      align-items: center;
    }

    a {
      text-decoration: none;
      color: black;

      img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
      }
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }

    .top-menu {
      display: flex;
      flex-direction: row-reverse;

      .logo {
        margin-right: 1rem;
        font-size: 1.5rem;
        padding-left: 1rem;
        font-family: $Roboto-Mono-family;
      }

      .add-question {
        display: none;
      }

      .search-bar {
        display: flex;
        align-items: center;
        width: 12rem;

        .icon-search-bar {
          width: 22rem;
          height: 1.5rem;
          margin: 0.1rem;
          position: absolute;
        }
      }
    }

    .bottom-menu {
      display: flex;
      width: 100%;
      justify-content: space-around;
      align-items: center;

      .icon-home {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 2rem;
          height: 2rem;
        }
      }

      .icon-follows {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 2rem;
          height: 2rem;
        }
      }

      .icon-spaces {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 2rem;
          height: 2rem;
        }
      }

      .icon-notifications {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 2rem;
          height: 2rem;
        }
      }

      .icon-user {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
          margin: 0;
          font-size: 0.8rem;
        }

        svg {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
}
//MOBILE
@media (max-width: $break-mobileLarge) {
  .navigation {
    width: 100vw;

    .menu-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 100vw;
      height: 15vh;

      svg {
        width: 2rem;
        height: 2rem;
      }

      .top-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        padding: 0.5rem;

        .search-bar {
          width: auto;
          height: auto;

          .icon-search-bar {
            width: 2rem;
            height: 2rem;
            margin: 0;
            position: relative;
          }

          .input-search-bar {
            display: none;
          }
        }

        .add-question {
          display: block;
          .text-question {
            display: none;
          }
        }
      }

      .bottom-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        padding: 0.5rem;

        .nav-links {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin: 0.2rem 1rem;
          width: 100vw;

          .icon-home {
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
              width: 2rem;
              height: 2rem;
            }
          }

          .icon-follows {
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
              width: 2rem;
              height: 2rem;
            }
          }

          .icon-spaces {
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
              width: 2rem;
              height: 2rem;
            }
          }

          .icon-notifications {
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
              width: 2rem;
              height: 2rem;
            }
          }

          .icon-user {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p {
              margin: 0;
              font-size: 0.8rem;
            }

            svg {
              width: 2rem;
              height: 2rem;
            }
          }

          .add-question {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .text-question {
              font-size: 0.8rem;
              font-weight: 600;
              margin-left: 0.5rem;
              margin-bottom: 0;
            }
          }
        }

        .icon-user {
          p {
            display: none;
          }
        }
      }
    }
  }
}
